In [24]:
#1. Importing the Dataset and Checking for Missing Values
import pandas as pd

# Importing the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Checking for missing values
df.isna().sum()

#2. Getting Dataset Dimensions and Definitions of Observations and Variables
# Getting the shape of the dataset (rows and columns)
rows, columns = df.shape
print(f"The dataset has {rows} rows and {columns} columns.")

#3. Summarizing the Dataset
# Summarize numeric columns
df.describe()
# Summarize a specific non-numeric column (e.g., 'species')
df['species'].value_counts()

#4. Handling Non-Numeric Variables and Missing Values
# Load Titanic dataset
titanic_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(titanic_url)

# Check dimensions
print(titanic_df.shape)

# Summarize numeric columns
print(titanic_df.describe())

The dataset has 391 rows and 11 columns.
(891, 15)
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [27]:
#5.attribute of dataset
df.shape

(391, 11)

In [28]:
#5. method to dataset
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [33]:
#Above are contents for pre-lecture HW
#Here is the link for chatbot record:https://chatgpt.com/share/66e347c8-12d8-800b-8520-9bba0b78b4d6

In [ ]:
df_clean = df.dropna()  # Removes rows with missing data

del df['unnecessary_column']  # Removes a column entirely

# Check initial size of dataset
print(f"Before cleaning: {df.shape}")

# Delete a column
del df['unnecessary_column']

# Drop rows with any remaining missing values
df_clean = df.dropna()

# Check size of dataset after cleaning
print(f"After cleaning: {df_clean.shape}")

# Group the dataset by 'sex' and calculate summary statistics for 'age'
titanic_df.groupby('sex')['age'].describe()

In [1]:
#types which df.describe can provide:
#Count: The number of non-missing values in each column. This statistic is crucial because it tells you how many data points are available for each variable, which can be affected by missing data.

#Mean: The average value of the data in the column. It’s calculated as the sum of all values divided by the count of non-missing values.

#Std (Standard Deviation): Measures the dispersion or spread of the data from the mean. A high standard deviation indicates that data points are spread out over a larger range of values.

#Min: The smallest value in the column. It provides an idea of the lower boundary of the data range.

#25% (First Quartile or Q1): The value below which 25% of the data falls. It’s a measure of the lower end of the data distribution.

#50% (Median or Q2): The middle value of the data when sorted in ascending order. It divides the data into two equal halves.

#75% (Third Quartile or Q3): The value below which 75% of the data falls. It provides insight into the upper end of the data distribution.

#Max: The largest value in the column. It indicates the upper boundary of the data range.

In [ ]:
#1. an example of a "use case" in which using df.dropna() might be peferred over using del df['col']
# Removing rows with missing data in any column
df_clean = df.dropna()

#2. an example of "the opposite use case" in which using del df['col'] might be preferred over using df.dropna()
# Dropping the column with too many missing values
del df['col_with_many_missing_values']

#3. Discuss why applying del df['col'] before df.dropna() when both are used together could be important
# First, remove the problematic column
del df['problem_column']

# Then, remove rows with missing data in the remaining columns
df_clean = df.dropna()

#4. Removing missing data from one of the datasets you're considering using some combination of del df['col'] and/or df.dropna() and give a justification for your approach
# Initial summary of missing data
print(df.isnull().sum())

# Step 1: Drop 'Customer_Feedback' column due to excessive missing values
del df['Customer_Feedback']

# Step 2: Drop rows with missing values
df_clean = df.dropna()

# Summary after removing missing data
print(df_clean.isnull().sum())

In [ ]:
#Understanding df.groupby("col1")["col2"].describe()
#df.groupby("col1")["col2"].describe() groups the dataset by the unique values of col1 and then applies the .describe() function 
#to col2 for each group. This results in summary statistics (count, mean, std, etc.) for col2, calculated separately 
#for each group in col1.

#example:
# Group by 'class' and describe 'age'
df.groupby("class")["age"].describe()


#Why df.describe() Shows Different Count Values for Columns
#When you use df.describe(), it calculates statistics for each column separately. The count value represents the number of 
#non-missing values in that column. Different columns may have varying amounts of missing data, leading to different counts.

#However, in df.groupby("col1")["col2"].describe(), the count represents the number of non-missing values of col2 for each unique value
#of col1. This count reflects how many records fall into each group and have non-missing values for col2.

In [ ]:
Common Errors and Fixes
#1.Error: NameError: name 'pd' is not defined
Cause: This happens if you forget to import pandas (import pandas as pd).
Fix: Add import pandas as pd at the top of your code.

#2.Error: FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'
Cause: You mistyped the filename or URL.
Fix: Double-check the file path or URL and correct it.

#3.Error: NameError: name 'DF' is not defined
Cause: You used DF instead of df (case sensitivity).
Fix: Make sure the variable name matches exactly as declared.

#4.Error: SyntaxError: invalid syntax (e.g., missing parentheses)
Cause: Forgetting parentheses in a function call.
Fix: Ensure proper parentheses, e.g., pd.read_csv(url) instead of pd.read_csv url.

#5.Error: AttributeError: 'DataFrame' object has no attribute 'group_by'
Cause: Misnaming a function (group_by instead of groupby).
Fix: Correct the function name to df.groupby().

#6.Error: KeyError: 'Sex'
Cause: Misnaming the column (e.g., 'Sex' instead of 'sex').
Fix: Ensure you use the correct case-sensitive column name.

#7.Error: KeyError: age
Cause: Forgetting to put column names in quotes.
Fix: Use quotes around column names: df.groupby("sex")["age"].describe().

In [6]:
#This part is post-lecture one,
#link of chatbot record: https://chatgpt.com/share/66e38886-2668-800b-88f7-9a7f3c9c8d45